<!DOCTYPE html>
<head>
    <title>About SECTION</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <h2> {{>header}}</h2>   

    <h1>
<div style="text-align: center;">About us</div>

<br>

    </h1>
        {{>footer}}

</body>