<!DOCTYPE html>
<head>
    <title>HELP SECTION</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
     <h1>
<div style="text-align: center;">HERE TO HELP</div>
</h1>
<h2> {{>header}}</h2>   
   

<br>
<img src="./copy_870274112.v1.jpg">
    
    {{>footer}}
</body>