<!DOCTYPE html>
<head>
    <title>Hello</title>
<link rel="stylesheet" href="./css/index.css">

</head>
<body>
  <h1>welcome</h1>
  <h2>{{>header}}</h2> 
  Search<br> 
   <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="error"></p>
        <p id='message'></p>
 {{>footer}}
   <script src="/js/test.js"></script>

</body>

